/* Potrebno, sicer se te spremenjljivke nastavijo na druge vrednosti */
:root {
    --primary-color: #EE230C;
    --primary-color-alpha: #005fff1a;
}

/* Dodatek, da se ne spremeni barva ozadja */
.str-chat__channel-list {
    background: #00000000 !important;
}

.chat_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat_list-header-message {
    color: #ffffff;
    padding: 0 16px;
}

.chat_list-header-message.loading {
    height: 115px;
}

.chat_list-header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_list-header svg {
    cursor: pointer;
}

.chat_list-header-title {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 10px;
}