/* Potrebno, sicer se te spremenjljivke nastavijo na druge vrednosti */
:root {
    --primary-color: #EE230C;
    --primary-color-alpha: #005fff1a;
}

/* SIDEBAR CONTAINER */
.sidebar-container {
    display: flex;
    /* height: 800px; */
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.sidebar-container-responsive {
    display: none;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 90%;
    top: 0%;
    z-index: 5;
    transition: 0.8s ease;
}

@media screen and (max-width: 960px) {
    .sidebar-container {
        display: none;
    }

    .sidebar-container-responsive {
        display: flex;
    }
}

/* SIDEBAR WRAPPER */
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 240px;
}

@media screen and (max-width: 960px) {
    .sidebar-wrapper {
        width: 100%;
    }
}


/* HEADER */
.sidebar-header {
    padding-left: 16px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-header-service-name-text {
    display: inline-block;
    flex: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.sidebar-header-logout-icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(150.64deg,
            rgba(0, 0, 0, 0.1) 12.73%,
            rgba(0, 0, 0, 0) 89.32%),
        #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}

/* LEFTOVERS */

.channel-list__sidebar {
    width: 72px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
    /* border-top-left-radius: 16px; */
    /* border-bottom-left-radius: 16px; */
}

.channel-list__sidebar__icon1 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(150.64deg,
            rgba(0, 0, 0, 0.1) 12.73%,
            rgba(0, 0, 0, 0) 89.32%),
        #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
}

.icon1__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon2__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .channel-list__sidebar {
        display: none;
    }
}