/* Potrebno, sicer se te spremenjljivke nastavijo na druge vrednosti */
:root {
    --primary-color: #EE230C;
    --primary-color-alpha: #005fff1a;
}

/* SIDEBAR CONTAINER */
.sidebar-container {
    display: flex;
    /* height: 800px; */
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

/* TODO: how does this work exactly */
.sidebar-container-responsive { 
    display: none;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 90%;
    top: 0%;
    z-index: 5;
    transition: 0.8s ease;
}

@media screen and (max-width: 960px) {
    .sidebar-container {
        display: none;
    }

    .sidebar-container-responsive {
        display: flex;
    }
}

/* SIDEBAR WRAPPER */
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 240px;
}

@media screen and (max-width: 960px) {
    .sidebar-wrapper {
        width: 100%;
    }
}

/* HEADER */
.sidebar-header {
    padding-left: 16px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-header-service-name-text {
    display: inline-block;
    flex: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.sidebar-header-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 9999px;
    cursor: pointer;
    border: solid 1.5px rgba(255, 255, 255, 0);
}

.sidebar-header-button:hover {
    border: solid 1.5px white;
}

.sidebar-header-button-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}